.task{
    /* display: flex; */
    background: rgb(197, 197, 197);
    border: solid 1px black;
    margin: 10px;
    padding: 40px 10px;
    cursor:pointer;
}

.task .text{
    padding-right: 10px;
    /* flex: 1 0; */
}

/* .task .day{
    flex: 1 0;
} */

.task .reminder{
    border-left: 5px solid green;
}

.task h3{
    align-items: center;
    justify-content: space-between;
    color: red;
    display: flex;
}

.day-reminder{
    display: flex;
}
